.custom-heading {
  color: blue;
  font-size: 24px;
  font-weight: bold;
}

.card {
  height: 175px;
  width: 170px;
}

.temp{
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

.border-3 {
  border-width: 3px;
}


.upload{
  position: relative;
}

.upload .round{
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: rgb(234 88 12);
  width: 35px;
  height: 35px;
  line-height: 32px;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgb(255 247 237);
}

.upload .round input[type='file'] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  background-attachment: fixed;
}


.height-10 {
 height: 10%;
}

.height-7 {
  height: 6%;
 }

 .height-75 {
  height: 75%;
 }
 
 ::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-track {
	background: rgb(115 115 115);
}

::-webkit-scrollbar-thumb {
	background: rgb(234 88 12);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

.first {
  height: 10px;
}

.button-container {
  position: relative;
}

.search-button,
.clear-button {
  position: absolute;
  bottom: 5;
  right: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.search-button.translated {
  transform: translateX(-50px); /* Adjust the value as needed */
}

.clear-button {
  opacity: 0;
  visibility: hidden;
}

.clear-button.visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0); /* Ensure it stays in place */
}








